body{
    color: white;
    background-image: url(images/poi.png);
}

#titleO{
    background-color: rgb(14, 40, 122);
    color: aqua;
    border: aqua solid 3px;
    text-align: center;
}

.b{
    background-image: url(images/bosque.jpg);
    color: white;
    border: black solid 2px;
}

#title1{
    font-weight: bold;
    font-style: italic;
}

.bold{
    font-weight: bold;
}

aside{
    width: 30%;
    float: right;
    font-weight: bolder;
}

.Twilight{
    background-color: #aa6408;
    color: #ffe601;
    border: #aa9a08 solid 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

footer{
    background-color: #721515 ;
    text-align: center;
    border: #721515 1px solid;
    color: rgb(192, 181, 21);
    position: fixed;
    bottom: 0;
    left: -2%;
    width: 2000px;
    font-weight: bolder;
}