html{
    min-height: 100%;
}

body{
    background-image: url(images/mainPageUtiles/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    color: white;
}

#ban{
    background-image: url(images/mainPageUtiles/backTitle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 10px;
    background-position: center top -140px;
    border: 1px solid black;
    width: 670px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow {
    font-size: 50px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

.menu-lat{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    transition: width 0.5s;
}

.usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.usuario div{
    display: none;
}

.usuario h2{
    font-size: 15px;
}

.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

ul li img{
    width: 30px;
    margin-right: 10px;
}

ul li p{
    white-space: nowrap;
    display: none;
}

ul{
    list-style: none;
    padding: 0 15px;
}

ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

video{
    border-radius: 8px;
    border: solid 1px white;
}

.boxText a:link{
    color: white;
}

.boxText a:visited{
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3%;
    background: rgba(54, 54, 54, 0.719);
    backdrop-filter: blur(1px);
    opacity:.7;
    color: rgb(217, 255, 0);
    text-align: center;
    border: 1px black solid;
    position: fixed;
    transition: height 0.5s;
}

footer:hover{
    height: 10%;
}


footer a:link{
    color:rgb(204, 177, 24);
}
  
footer a:visited{
    color: rgb(204, 177, 24);
}

.menu-lat:hover{
    width: 250px;
}
  
.menu-lat:hover .usuario div{
    display: block;
}

.menu-lat:hover .usuario{
    width: 92%;
    background: rgba(187, 187, 187, 0.2);
    backdrop-filter: blur(5px);
}

.menu-lat:hover .user-img{
    margin: 0;
}

.menu-lat:hover ul li p{
    display: block;
}

.menu-lat:hover ul li img{
    margin-right: 10px;
}

.menu-lat:hover ul li{
    justify-content: flex-start;
}

.boxText{
    display: flex;
    background-color: rgb(83, 83, 83);
    border: solid 1px white;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}

.advice{

}

.CM{

}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (max-width: 1920px) {
    body{
        font-size: 150%;
    }

    video{
        width: 46%;
    }

    ul li img{
        width: 50px;
        margin-right: 10px;
    }

    .menu-lat{
        font-size: 100%;
    }

    .menu-lat:hover{
        font-size: 100%;
        width: 270px;
    }
    
  }

@media only screen and (max-width: 375px) {
    
  }